div.content {
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: grid;
    grid-template-rows: 10% 90%;
    align-items: start ;
    justify-items: start;
  }

  .first{
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: grid;
    grid-template-columns: 89% 11%;
    align-items: center ;
    justify-items: start;
  }

  .btn{
    height: 100%;
    width: 100%;
    background-color: #fff;
  }

  div.content1 {
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    grid-template-rows: 100%;
    align-items: start ;
    justify-items: start;
  }

  .max{
    height: 100%;
    width: 100%;
  }